@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.navPrincipal{
    width: 100%;
    padding-bottom: 1.2%;
    display: inline-flex;
    top: 0;
    background-color: white;
    color: #32302F;
    position: sticky;
    border-bottom: 0.5px;
    border-bottom-color: #E4E9D3;
}

.primary{
    background-color: white;
    width: 100%;
    height: auto;
    top: 0;
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
}

.personalOrBusiness{
    width: auto;
    font-size: 1rem;
    font-weight: 500;
    display: inline-flex;
    margin-left: 1.4rem;
}

.personalOrBusiness a{
    padding: 10px 10px;
}

.personalOrBusiness a:first-of-type{
    background-color: #32302F;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mainList{
    padding-left: 1%;
    margin-top: 1vh;
    width: 100%;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 500;
}


.mainList a{
    padding: 8px 12px;
    white-space: nowrap;
    align-self: center;
}

.logo{
    width: 12.5%;
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 1%;
}

.logo img{
    width: 130%;
    height: 80%;
}

.dropdown1, .dropdown2, .dropdown3{
    display: flex;
}

.mainList button{
    background: none;
    border: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #32302F;
}

.mainList button svg{
    align-items: center;
}

.dropdown1_content{
    display: none;
}

.dropdown2_content{
    display: none;
}

.dropdown3_content{
    display: none;
}

.navButtons{
    width: auto;
    display: inherit;
    margin-left: auto;
    margin-top: 2%;
    margin-right: 2%;
    height: 100%;
    align-items: center;
}

.navButtons button{
    padding: 13px 30px;
    margin: 7px;
    color: #32302F;
    border-color: #32302F;
    background-color: white;
    border: 1px solid;
    white-space: nowrap;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 5px;
}

.navButtons button:last-of-type{
    background-color: #32302F;
    color: white;
}